<html>
   <head>
        <title>Angular JS Controller</title>
        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src = "/static/lib/angular/angular.js"></script>
        <script src = "/static/lib/socket.io-client/dist/socket.io.slim.js"></script>
        <script src= "/static/scripts/main.js"></script>
        
        <!-- endbower -->
        <!-- endbuild -->
        
   </head>
   
   <body>
      <h2>AngularJS Sample Application</h2>
      
      <div ng-app = "mainApp" ng-controller = "studentController">
         You are entering: {{ '{{student.firstName}}' }}
         <h1> {{ '{{msg}}' }} </h1>
      </div>      
   </body>
</html>