<html>
   <head>
        <title>Angular JS Controller</title>

        <meta charset="utf-8">  <!-- it's important for d3.js -->

        <link rel="stylesheet" href="/static/lib/nvd3/build/nv.d3.css">
        <link rel="stylesheet" href="/static/styles/styles.css">
        <link rel="stylesheet" href="/static/lib/bootstrap/dist/css/bootstrap.css" />
        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src = "/static/lib/angular/angular.js"></script>
        <script src = "/static/lib/socket.io-client/dist/socket.io.slim.js"></script>
        <script src = "/static/lib/angular-bootstrap/ui-bootstrap.min.js"></script>


        <script src="/static/lib/d3/d3.js"></script>
        <script src="/static/lib/nvd3/build/nv.d3.js"></script> <!-- or use another assembly -->
        <script src="/static/lib/angular-nvd3/dist/angular-nvd3.js"></script>
        
        <!-- endbower -->
        <!-- endbuild -->
        <script src= "/static/scripts/main.js"></script>
        
   </head>
   
   <body>
       <nav class="navbar navbar-default" role="navigation">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" ng-click="isNavCollapsed = !isNavCollapsed">
				<span class="sr-only">Neuro-UOM</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Neuro-UOM</a>
		</div>
		<div class="collapse navbar-collapse" uib-collapse="isNavCollapsed">
			<ul class="nav navbar-nav">
				<li><a href="#">Link 1</a></li>
				<li><a href="#">Link 2</a></li>
			</ul>
		</div>
    </nav>
    
    <!-- <h2>AngularJS Sample Application</h2> -->
    
    <div ng-app = "mainApp">
        <div ng-controller="mainController">
            <div class="row" style="height: 30%;" >
                <div class="col-md-1" >
                    <!-- <h1> {{ '{{student.firstName}}' }} {{ '{{msg}}' }} </h1> *JUST EMPTY col-md-1 for margin --> 
                </div>
                <div class="col-md-3" ng-repeat="frequency in freqTiles" ng-style="styleTiles[$index]" style="font-size:60px; padding:50px;  text-align:center; margin:10px;">
                    {{ '{{freqTiles[$index]}}' }} Hz
                </div>
            </div> 
        </div>

        <div class="row">
            <div class="col-md-8">
                <div ng-controller="cmlCtrl">
                    <nvd3 options="options" data="data"></nvd3>
                </div> 
            </div>

            <div class="col-md-4">
                <div class="row" style="color:white; background-color:coral; font-size:80px; padding:30px; text-align:center;"> 10Hz</div>
                <div class="row" style="margin:10px;"></div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row boxes"> P7</div>
                        <div class="row boxes"> T7</div>
                        <div class="row boxes"> O1</div>
                    </div>
                    <div class="col-md-6">
                        <div class="row boxes"> P8</div>
                        <div class="row boxes"> T8</div>
                        <div class="row boxes"> O2</div>                 
                    </div>
                </div>
            </div>
        </div>
        

        
    </div>

        
   </body>
</html>