.box{
	width:100px;
	height:100px;
}

.red{
	background:#f00;
}
.green{
	background:#0f0;
}
.blue{
	background:#00f;
}

.boxes{
    color:white; 
    background-color:Aquamarine; 
    font-size:25px; 
    padding:15px; 
    text-align:center;
    border: 2px solid DarkBlue ;
    border-radius: 10px;
}